/* TYPOGRAPHY */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body, 
body *{
    font-family: 'Inter';
    font-size: .875rem;
}

/* COLORS */
:root{
    --clr-green: hsl(75, 94%, 57%);
    
    --clr-grey-700: hsl(0, 0%, 20%);
    --clr-grey-800: hsl(0, 0%, 12%);
    --clr-grey-900: hsl(0, 0%, 8%);

    --clr-white: hsl(0, 0%, 100%);
}

/* LAYOUT */
body{
    align-items: center;
    background-color: var(--clr-grey-900);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-height: 100dvh;
}

main{
    align-items: center;
    background-color: var(--clr-grey-800);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--clr-white);
    display: grid;
    gap: 1.75rem;
    justify-items: center;
    max-width: 24rem;
    padding: 2.5rem;
    text-align: center;
    width: 100%;
}

.avatar{
    aspect-ratio: 1;
    border-radius: 100vw;
    width: 6rem;
}

.info-quote{
    display: grid;
    gap: 2rem;

    .info{
        display: grid;
        gap: 1rem;

        .name{
            font-size: 1.5rem;
            font-weight: 600;
        }

        .location{
            color: var(--clr-green);
            font-weight: 700;
        }
    }
}

.link-list{
    display: grid;
    gap: 1rem;
    width: 100%;

    a{
        background-color: var(--clr-grey-700);
        border-radius: .5rem;
        font-weight: 700;
        padding: 1rem;

        &:hover{
            background-color: var(--clr-green);
            color: var(--clr-grey-800);
        }
    }
}

.attribution{
    background-color: var(--clr-white);
    border-radius: .5rem;
    color: var(--clr-grey-800);
    display: grid;
    font-weight: 700;
    gap: .5rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem;

    a{
        text-decoration: underline;
    }
}

/* RESPONSIVE */
@media screen and (width <= 475px) {
    body {
        padding-block: 7rem;
        padding-inline: 1.5rem;
    }

    main{
        padding: 1.5rem;
    }
}

@media screen and (width <= 360px) {
    body {
        padding-block: 2rem;
        padding-inline: 1.5rem;
    }

    main{
        padding: 1.5rem;
    }
}

@media screen and (width <= 912px) and (height <= 820px) {
    .attribution{
        position: static;
    } 
}